<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>VagaX | Lista de Categorias</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

      <header th:insert="fragments/menu.html :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 
      
     
		<div  th:if="${sucesso != null}" class="alert alert-success" roles="alert"  th:text="${sucesso}"></div>
        <div class="card">
          <h4 class="card-header"><strong>Listado de Categorías</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/categorias/create}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nova</a>            
            <hr>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="categoria, i : ${categorias}">
                  <th th:text="${i.index + 1}" scope="row">1</th>
                  <td th:text="${categoria.nome}"></td>
                  <td th:text="${categoria.descricao}">Trabajos relacionados con el area de RH.</td>
                  <td>
                    <a href="#" class="btn btn-success btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a href="#" onclick="return confirm('Tem certeza?')" class="btn btn-success btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                             
              </tbody>
            </table>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

   <footer th:insert="fragments/footer.html :: footer-principal" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>