<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark bg-primary fixed-top shadow p-3 mb-5 rounded">
        <a class="navbar-brand" href="/">VagaX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vagas/index">Vagas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categorias/index">Categorias</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/usuarios/index">Usuarios</a>
            </li>          
          </ul>  
          <a class="btn btn-primary" href="#">Login</a>&nbsp;
          <a class="btn btn-primary" href="/usuarios/singup">Registrar-se</a>
        </div>
 </nav>