<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark bg-primary fixed-top shadow p-3 mb-5 rounded">
        <a class="navbar-brand" href="/">VagaX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">

            <li  sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')" class="nav-item">
              <a class="nav-link" href="/vagas/indexPaginate">Vagas</a>
            </li>
            <li  sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')" class="nav-item">
              <a class="nav-link" href="/categorias/index">Categorias</a>
            </li>  
            <li  sec:authorize="hasAnyAuthority('ADMINISTRADOR')" class="nav-item">
              <a class="nav-link" href="/usuarios/index">Usuários</a>
            </li>          
          </ul>  
          <div th:if = "${session.usuario != null}" th:text="'Bem vindo, ' + ${session.usuario.nome}" class="text-light" style="margin-right:10px"></div>
          <a class="btn btn-primary" th:href="@{/index}">Login</a>&nbsp;
          <a class="btn btn-primary" th:href="@{/usuarios/singup}">Registrar-se</a>
           <a class="btn btn-primary" th:href="@{/logout}">Sair</a>
        </div>
 </nav>