<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

 <header th:insert="fragments/menu.html :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Dados da oferta de trabalho</strong></h4>              
          <div class="card-body">
            <form  enctype="multipart/form-data" th:action="@{/vagas/save}" method="post" th:object="${vaga}"> 
            
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
				Um ou mais campos estão preenchido de forma incorreta:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
				</ul>
			</div>
            
                         
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nome</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="nome" name="nome" placeholder="Titulo de la oferta de trabajo" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Descrição</label>
                    <input type="text" class="form-control" id="descricao" th:field="*{descricao}" name="descricao" placeholder="Breve descripcion de la oferta de trabajo" required="required">
                  </div> 
                </div>   
              </div> 
              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" th:field="*{categoria.id}">
                      <option th:value="${categoria.id}" 
                      		  th:each="categoria : ${categorias}" 
                      		  th:text="${categoria.nome}"></option>
                      </select>
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="estatus">Status</label>
                    <select class="form-control" th:field="*{status}" name="status" id="status">
					  <option value="Creada">Criada</option>
                      <option value="Aprobada">Aprovada</option>
                      <option value="Eliminada">Deletada</option>	
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Data de Publicação</label>
                    <input type="text" class="form-control" name="data" th:field="*{data}" id="data" placeholder="Fecha de publicacion" required="required">
                  </div>  
                </div>
                <div class="col-md-3"> 
                  <div class="form-check">
                    <label class="form-check-label" for="destacado0"></label><br>
                    <input class="form-check-input" type="radio" th:field="*{destacado}" name="destacado" id="destacado" value="1" checked="checked">
                    <label class="form-check-label" for="destacado1">Destacado</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{destacado}" name="destacado" id="destacado" value="0">
                    <label class="form-check-label" for="destacado2">Sem destaque</label>
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Salário (Aprox)</label>
                    <input type="text" class="form-control" th:field="*{salario}" name="salario" id="salario" placeholder="Salario aproximado." required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagem</label>
                    <input type="file" class="form-control-file" name="arquivoImagem" id="arquivoImagem">
                  </div>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="detalles"><strong>Detalhes</strong></label>          
                    <textarea class="form-control" th:field="*{detalhes}" name="detalhes" id="detalhes" rows="7"></textarea>
                  </div> 
                </div> 
                <div class="col-md-3">
                  <label for="imagen">Imagem/Logo</label>
                  <img class="rounded mx-auto d-block" src="images/construccion-logo.png" alt="Generic placeholder image" width="200" height="200">            
                </div>
              </div> 
              <button type="submit" class="btn btn-primary">Salvar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

      <footer th:insert="fragments/footer.html :: footer-principal" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
          $("#data").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
   
      tinymce.init({
          selector: '#detalhes',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
    
      
    </script>
  </body>
</html>